.events-section {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: purple;
}

.event-card {
    display: flex;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.event-image img {
    width: 250px;
    height: auto;
}

.event-details {
    padding: 20px;
    flex: 1;
}

.event-details h3 {
    margin: 0 0 10px;
    color: #333;
}

.event-details p {
    margin: 10px 0;
    color: #555;
}

.event-details .location,
.event-details .category,
.event-details .date {
    display: inline-block;
    margin-right: 10px;
    color: #777;
}

.show-button {
    background-color: #421E84;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.show-button:hover {
    background-color: #6546AE;
}



.button-container {
    text-align: center; /* Center the button horizontally */
}



.container {
    background-color: #f4f4f4;
 }
 
 h2 {
     text-align: center;
     color: #421E84;
     font-family: Arial, sans-serif;
 }
 


 .endd {
    
 }
 
 h4 {
     text-align: center;
     color: black;
     font-family: Arial, sans-serif;
    
 }